# Predicting German Credit Default
## Procesamiento de datos

In [3]:
import pandas as pd 
df = pd.read_csv('../Datasets/scored_data_no_null.csv', index_col=0)

In [4]:
df

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,risk
unnamed:_0,,,,,,,,,,
0,67,male,2,own,no_info,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,no_info,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad
...,...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,little,no_info,1736,12,furniture/equipment,good
996,40,male,3,own,little,little,3857,30,car,good
997,38,male,2,own,little,no_info,804,12,radio/TV,good
998,23,male,2,free,little,little,1845,45,radio/TV,bad
999,27,male,2,own,moderate,moderate,4576,45,car,good

In [25]:
df['saving_accounts'].value_counts()

little        603
no_info       183
moderate      103
quite rich     63
rich           48
Name: saving_accounts, dtype: int64

In [26]:
df['checking_account'].value_counts()

no_info     394
little      274
moderate    269
rich         63
Name: checking_account, dtype: int64

In [27]:
df.isnull().sum()

age                 0
sex                 0
job                 0
housing             0
saving_accounts     0
checking_account    0
credit_amount       0
duration            0
purpose             0
risk                0
dtype: int64

In [28]:
df['sex'].value_counts()

male      690
female    310
Name: sex, dtype: int64

In [29]:
df['purpose'].value_counts()

car                    337
radio/TV               280
furniture/equipment    181
business                97
education               59
repairs                 22
domestic appliances     12
vacation/others         12
Name: purpose, dtype: int64

In [30]:
df['risk'].value_counts()

good    700
bad     300
Name: risk, dtype: int64

In [31]:
df['housing'].value_counts()

own     713
rent    179
free    108
Name: housing, dtype: int64

In [32]:
#LabelBinarizer convierte un  string categorico a una variable binaria 
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()
df['risk']= lb.fit_transform(df['risk'])

lb = LabelBinarizer()
df['sex']= lb.fit_transform(df['sex'])

## uuua
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
df['purpose']= lb.fit_transform(df['purpose'])

lb = LabelEncoder()
df['housing']= lb.fit_transform(df['housing'])

lb = LabelEncoder()
df['saving_accounts']= lb.fit_transform(df['saving_accounts'])

lb = LabelEncoder()
df['checking_account']= lb.fit_transform(df['checking_account'])

In [33]:
df

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,risk
unnamed:_0,,,,,,,,,,
0,67,1,2,1,2,0,1169,6,5,1
1,22,0,2,1,0,1,5951,48,5,0
2,49,1,1,1,0,2,2096,12,3,1
3,45,1,2,0,0,0,7882,42,4,1
4,53,1,2,0,0,0,4870,24,1,0
...,...,...,...,...,...,...,...,...,...,...
995,31,0,1,1,0,2,1736,12,4,1
996,40,1,3,1,0,0,3857,30,1,1
997,38,1,2,1,0,2,804,12,5,1
998,23,1,2,0,0,0,1845,45,5,0
999,27,1,2,1,1,1,4576,45,1,1

In [34]:
df['saving_accounts'].value_counts()

0    603
2    183
1    103
3     63
4     48
Name: saving_accounts, dtype: int64

In [35]:
df['checking_account'].value_counts()

2    394
0    274
1    269
3     63
Name: checking_account, dtype: int64

In [36]:
df['sex'].value_counts()

1    690
0    310
Name: sex, dtype: int64

In [37]:
df['purpose'].value_counts()

1    337
5    280
4    181
0     97
3     59
6     22
2     12
7     12
Name: purpose, dtype: int64

In [38]:
df['risk'].value_counts()

1    700
0    300
Name: risk, dtype: int64

In [39]:
df['housing'].value_counts()

1    713
2    179
0    108
Name: housing, dtype: int64

In [40]:
df.to_csv("scored_data_bin.csv")

## Procesamiento de datos a categorÃ­as

In [121]:
df_2 = pd.read_csv('../Datasets/scored_data_no_null.csv', index_col=0)
df_2.head()

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,risk
unnamed:_0,,,,,,,,,,
0,67,male,2,own,no_info,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,no_info,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

# Creamos categorias a intervalos 
## Edades

In [122]:
intervalo_edad = ( 0,25, 35, 60, 120)

categorias_edad = ['Estudiante', 'Joven Adulto', 'Adulto', 'Mayor edad']
df_2['age'] = pd.cut(df_2.age, intervalo_edad, labels = categorias_edad)

df_2

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,risk
unnamed:_0,,,,,,,,,,
0,Mayor edad,male,2,own,no_info,little,1169,6,radio/TV,good
1,Estudiante,female,2,own,little,moderate,5951,48,radio/TV,bad
2,Adulto,male,1,own,little,no_info,2096,12,education,good
3,Adulto,male,2,free,little,little,7882,42,furniture/equipment,good
4,Adulto,male,2,free,little,little,4870,24,car,bad
...,...,...,...,...,...,...,...,...,...,...
995,Joven Adulto,female,1,own,little,no_info,1736,12,furniture/equipment,good
996,Adulto,male,3,own,little,little,3857,30,car,good
997,Adulto,male,2,own,little,no_info,804,12,radio/TV,good
998,Estudiante,male,2,free,little,little,1845,45,radio/TV,bad
999,Joven Adulto,male,2,own,moderate,moderate,4576,45,car,good

# Binario

In [123]:
df_2 = df_2.merge(pd.get_dummies(df_2.age, prefix='age'), 
                  left_index=True, right_index=True)

df_2 = df_2.drop(columns = 'age')
df_2

,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,risk,age_Estudiante,age_Joven Adulto,age_Adulto,age_Mayor edad
unnamed:_0,,,,,,,,,,,,,
0,male,2,own,no_info,little,1169,6,radio/TV,good,0,0,0,1
1,female,2,own,little,moderate,5951,48,radio/TV,bad,1,0,0,0
2,male,1,own,little,no_info,2096,12,education,good,0,0,1,0
3,male,2,free,little,little,7882,42,furniture/equipment,good,0,0,1,0
4,male,2,free,little,little,4870,24,car,bad,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,1,own,little,no_info,1736,12,furniture/equipment,good,0,1,0,0
996,male,3,own,little,little,3857,30,car,good,0,0,1,0
997,male,2,own,little,no_info,804,12,radio/TV,good,0,0,1,0
998,male,2,free,little,little,1845,45,radio/TV,bad,1,0,0,0
999,male,2,own,moderate,moderate,4576,45,car,good,0,1,0,0

## duration

In [124]:
# Categorias 
intervalo_aÃ±os = (0, 12, 24, 36, 48, 60, 72)
categorias_aÃ±os =['1 aÃ±o', '2 aÃ±os', '3 aÃ±os', '4 aÃ±os', '5 asÃ±os', '6 aÃ±os']
df_2['duration'] = pd.cut(df_2.duration, intervalo_aÃ±os, labels= categorias_aÃ±os)

# Binario 
df_2 = df_2.merge(pd.get_dummies(df_2.duration, prefix='duration'), 
                  left_index=True, right_index=True)

df_2 = df_2.drop(columns = 'duration')
df_2

,sex,job,housing,saving_accounts,checking_account,credit_amount,purpose,risk,age_Estudiante,age_Joven Adulto,age_Adulto,age_Mayor edad,duration_1 aÃ±o,duration_2 aÃ±os,duration_3 aÃ±os,duration_4 aÃ±os,duration_5 asÃ±os,duration_6 aÃ±os
unnamed:_0,,,,,,,,,,,,,,,,,,
0,male,2,own,no_info,little,1169,radio/TV,good,0,0,0,1,1,0,0,0,0,0
1,female,2,own,little,moderate,5951,radio/TV,bad,1,0,0,0,0,0,0,1,0,0
2,male,1,own,little,no_info,2096,education,good,0,0,1,0,1,0,0,0,0,0
3,male,2,free,little,little,7882,furniture/equipment,good,0,0,1,0,0,0,0,1,0,0
4,male,2,free,little,little,4870,car,bad,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,1,own,little,no_info,1736,furniture/equipment,good,0,1,0,0,1,0,0,0,0,0
996,male,3,own,little,little,3857,car,good,0,0,1,0,0,0,1,0,0,0
997,male,2,own,little,no_info,804,radio/TV,good,0,0,1,0,1,0,0,0,0,0
998,male,2,free,little,little,1845,radio/TV,bad,1,0,0,0,0,0,0,1,0,0
999,male,2,own,moderate,moderate,4576,car,good,0,1,0,0,0,0,0,1,0,0

# credit_amount

In [125]:
df_2['credit_amount_group'] = pd.cut(df_2['credit_amount'], bins=6)

(df_2
  .groupby('credit_amount_group')
  .agg(frequency=('sex', "count")))

                     frequency
credit_amount_group
(231.826, 3279.0]          659
(3279.0, 6308.0]           206
(6308.0, 9337.0]            88
(9337.0, 12366.0]           28
(12366.0, 15395.0]          14
(15395.0, 18424.0]           5

In [126]:
# Categorias 
intervalo_monto = (231.826, 3279.0, 6308.0, 9337.0, 12366.0, 15395.0, 18424.0)
categorias_monto =['Monto 1', 'Monto 2', 'Monto 3', 'Monto 4', 'Monto 5', 'Monto 6']
df_2['credit_amount'] = pd.cut(df_2.credit_amount, intervalo_monto, labels= categorias_monto)

# binario
df_2 = df_2.merge(pd.get_dummies(df_2.credit_amount, prefix='credit_amount'), 
                  left_index=True, right_index=True)

df_2 = df_2.drop(columns = ['credit_amount','credit_amount_group'])
df_2

,sex,job,housing,saving_accounts,checking_account,purpose,risk,age_Estudiante,age_Joven Adulto,age_Adulto,...,duration_3 aÃ±os,duration_4 aÃ±os,duration_5 asÃ±os,duration_6 aÃ±os,credit_amount_Monto 1,credit_amount_Monto 2,credit_amount_Monto 3,credit_amount_Monto 4,credit_amount_Monto 5,credit_amount_Monto 6
unnamed:_0,,,,,,,,,,,,,,,,,,,,,
0,male,2,own,no_info,little,radio/TV,good,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,female,2,own,little,moderate,radio/TV,bad,1,0,0,...,0,1,0,0,0,1,0,0,0,0
2,male,1,own,little,no_info,education,good,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,male,2,free,little,little,furniture/equipment,good,0,0,1,...,0,1,0,0,0,0,1,0,0,0
4,male,2,free,little,little,car,bad,0,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,1,own,little,no_info,furniture/equipment,good,0,1,0,...,0,0,0,0,1,0,0,0,0,0
996,male,3,own,little,little,car,good,0,0,1,...,1,0,0,0,0,1,0,0,0,0
997,male,2,own,little,no_info,radio/TV,good,0,0,1,...,0,0,0,0,1,0,0,0,0,0
998,male,2,free,little,little,radio/TV,bad,1,0,0,...,0,1,0,0,1,0,0,0,0,0
999,male,2,own,moderate,moderate,car,good,0,1,0,...,0,1,0,0,0,1,0,0,0,0

#Â categoricas

In [127]:
#LabelBinarizer convierte un  string categorico a una variable binaria 
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()
df_2['risk']= lb.fit_transform(df['risk'])

lb = LabelBinarizer()
df_2['sex']= lb.fit_transform(df['sex'])

In [128]:
df_2.head()

,sex,job,housing,saving_accounts,checking_account,purpose,risk,age_Estudiante,age_Joven Adulto,age_Adulto,...,duration_3 aÃ±os,duration_4 aÃ±os,duration_5 asÃ±os,duration_6 aÃ±os,credit_amount_Monto 1,credit_amount_Monto 2,credit_amount_Monto 3,credit_amount_Monto 4,credit_amount_Monto 5,credit_amount_Monto 6
unnamed:_0,,,,,,,,,,,,,,,,,,,,,
0,1,2,own,no_info,little,radio/TV,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,2,own,little,moderate,radio/TV,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
2,1,1,own,little,no_info,education,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,1,2,free,little,little,furniture/equipment,1,0,0,1,...,0,1,0,0,0,0,1,0,0,0
4,1,2,free,little,little,car,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [129]:
## tipo de trabajo
df_2 = df_2.merge(pd.get_dummies(df_2.job, prefix='job'), 
                  left_index=True, right_index=True,
                 drop_first= True)

df_2 = df_2.drop(columns = 'job')

## propiedad de casa
df_2 = df_2.merge(pd.get_dummies(df_2.housing, prefix='housing'), 
                  left_index=True, right_index=True,
                 drop_first= True)

df_2 = df_2.drop(columns = 'housing')

##
df_2 = df_2.merge(pd.get_dummies(df_2.saving_accounts, prefix='saving_accounts'), 
                  left_index=True, right_index=True,
                  drop_first= True)

df_2 = df_2.drop(columns = 'saving_accounts')

##
df_2 = df_2.merge(pd.get_dummies(df_2.checking_account, prefix='checking_account'), 
                  left_index=True, right_index=True,
                  drop_first= True)

df_2 = df_2.drop(columns = 'checking_account')

##
df_2 = df_2.merge(pd.get_dummies(df_2.purpose, prefix='purpose'), 
                  left_index=True, right_index=True,
                 drop_first= True)

df_2 = df_2.drop(columns = 'purpose')

In [130]:
df_2

,sex,risk,age_Estudiante,age_Joven Adulto,age_Adulto,age_Mayor edad,duration_1 aÃ±o,duration_2 aÃ±os,duration_3 aÃ±os,duration_4 aÃ±os,...,checking_account_no_info,checking_account_rich,purpose_business,purpose_car,purpose_domestic appliances,purpose_education,purpose_furniture/equipment,purpose_radio/TV,purpose_repairs,purpose_vacation/others
unnamed:_0,,,,,,,,,,,,,,,,,,,,,
0,1,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,1,1,0,0,1,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
996,1,1,0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
997,1,1,0,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
998,1,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
999,1,1,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [132]:
df_2.to_csv("scored_data_all_bin.csv")